*:focus {
    outline: none !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.accordion{
    max-width:700px;
}
.image{
    border-radius: 50%;
    width:50px;
    height:50px;
    margin:0px 30px
}
.containr{
    padding: 40px;
}

.acc1{
    margin:20px;
}
.main{
    padding: 0 30px;
}
.top-section {
    margin-bottom: 15px;
}
.col{
    color:gray
}
.icon-cont{
    font-size: 20px;
}
.edit-icon,.delete-icon{
    margin:10px;
    cursor: pointer;
    color:red
}
.input-area{
    width:650px;
    max-width: 650px;
    padding:5px;
    border-radius: 5px;
    border:1px solid black
}
.ta{
    padding:10px
}
.search-cont{
    border:2px solid red;
    width:650px;
    max-width: 650px;
}
textarea{width:100%;display:block}

@media only screen and (max-width: 768px){
    .image{
        margin:0px 15px 0px 0px
    }
    .containr{
        padding: 0%;
    }
    .acc1{
        margin:10px
    }
    .main{
        padding:0px;
    }
}